.record-entry {
  max-width: 900px;
  height: 40px;
  border-radius: 0.1em;
  background-color: white;
  box-shadow: 0 0px 1px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.5s;
  display: flex;
  align-items: center;
}

.record-selector {
  flex: 0 0 5%;
  display: flex;
  align-items: center;
}

.record-info-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  flex: 1;
}

.record-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.record-info-category {
  display: flex;
  align-items: center;
  flex: 0 0 30%;
}

.record-info-account {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  font-family: "Montserrat";
  flex: 0 0 20%;
}

.record-info-entity {
  display: flex;
  align-items: center;
  color: #7f8fa4;
  font-size: 0.7em;
  font-family: "Montserrat";
  flex: 0 0 30%;
}

.record-info-description {
  display: flex;
  align-items: center;
  color: #7f8fa4;
  font-size: 0.7em;
  font-family: "Montserrat";
  flex: 0 0 15%;
}

.transaction-amount-section {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.target-currency-transaction-amount {
  color: #fe3b2c;
  margin-left: auto;
}

.original-currency-transaction-amount {
  color: #7f8fa4;
  font-size: 0.8em;
  margin-left: auto;
}

.circle {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-entry:hover {
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.05); 
}