.info-container {
  display: flex;
  align-items: center;
  justify-content:left;
  gap: 1rem;
  flex: 1;
}

.flex-centered-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.transaction {
  display: flex;
  align-items: center;
  flex: 1;
  height: 3rem;
  border-radius: 0.3em;
  background-color: white;
  padding: 1rem 0.7rem;
}

.transaction-info-category {
  flex-basis: 20%;
}

.transaction-info-entity {
  color: #7f8fa4;
  font-size: 0.7rem;
  flex: 0 0 30%;
}

.transaction-info-description {
  color: #7f8fa4;
  font-size: 0.7rem;
  flex-basis: 20%;
}

.target-currency-transaction-amount {
  color: #fe3b2c;
  margin-left: auto;
  font-size: 0.9rem;
}

.transaction-income {
  color: #1d8718;
}

.original-currency-transaction-amount {
  color: #7f8fa4;
  font-size: 0.8rem;
  margin-left: auto;
}