.account-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0.9rem 0.9rem;
}

.account-icon {
  border-radius: 15%;
  background-color: rgb(255, 160, 0);
  margin: 0.5rem;
  padding: 0.1em 0.15em;
  font-size: 2rem;
  color: #ffffff;
}

.account-name {
  flex-basis: 40%;
  font-weight: 600;
  color: rgb(45, 45, 45);
  font-size: 0.9rem;
}

.account-type {
  color: #7f8fa4;
  flex-basis: 15%;
  font-size: 0.8rem;
}

.account-balance {
  margin-left: auto;
  color: rgb(45, 45, 45);
  font-weight: 600;
}

#account-label {
  font-weight: 700;
  color: rgb(30, 30, 30);
  font-size: 1.5rem;
}
