.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-menu {
    margin: 0;
    padding: 0;
    margin-right: auto;
    gap: 1rem;
}

.nav-bar-content {
    max-width: 1500px;
    width: 100%;
}

.nav-bar-logo {
    height: 2.5rem;
    width: 2.5rem;
}