.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elevation-1 {
    box-shadow: 0 0px 1px rgb(0 0 0 / 0.1);
}

.nav-bar {
    height: 65px;
    background-color: white;
}

.nav-bar-link {
    margin: 0px 10px;
    color: #7f8fa4;
    list-style: none;
    font-size: 0.8em;
}

.nav-bar-link:hover {
    color: #354052;
    text-shadow: .25px 0px .1px,
                  -.25px 0px .1px;
}

.nav-bar-content {
    justify-content: space-between !important;
    min-width: 900px;
    max-width: 1200px;
}

.nav-bar-logo {
    height: 40px;
    width: 40px;
}

#add-record-btn {
    background-color: #007aff;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 9px;
}