.transaction-view-container {
  display: flex;
  justify-content: center;
}

.flex-container-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elevation-1 {
  box-shadow: 0 0px 1px rgb(0 0 0 / 0.1);
}

.transaction-list-container {
  margin: 20px;
}

.transaction-selector {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #fafbfc;
  height: min-content;
  width: 400px;
}

.transaction-selector > li {
  font-family: 'Montserrat';
  font-size: 0.6em;
}