.nav-bar {
    margin: 0;
    padding: 0;
    height: 75px;
    border-bottom: 1px solid #e5e9ed;
    margin-bottom: 50px;
    box-shadow: 10px 5px 5px rgba(39, 38, 38, 0.041);
    display: flex;
    align-items: center;
    background-color: white;
}

.nav-bar-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.nav-bar-link:hover {
    color: #778A35;
    text-shadow: .25px 0px .1px,
                  -.25px 0px .1px;
}

.logo {
    height: 3rem;
    width: 3rem;
}

.nav-bar-link {
    margin-left: 14px;
    margin-right: 14px;
    padding: 0px 14px 0px 14px;
    color:rgb(170, 167, 167);
    list-style: none;
}