.main-container {
  width: 100%;
  max-width: 1500px;
  padding-top: 1.4rem;
  align-self: center;
  display: flex;
}

.side-menu {
  margin-right: 2rem;
  border-radius: 0.4rem;
  background-color: #fafbfc;
  width: 15rem;
  padding: 1.3rem;
}

.side-menu-title {
  font-family: "Montserrat";
  font-weight: 700;
  color: rgb(80, 80, 80);
  font-size: 1.5rem;
}

.side-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.4rem;
}

.content {
  flex: 1;
}

.add-account-btn {
  background-color: rgb(0, 168, 111);
  color: #fff;
  border-radius: 2rem;
  padding: 0.3rem 0.6rem;
  font-size: 0.65rem;
  width: 9rem;
  padding: 0.3rem 1.4rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.add-account-btn:hover {
  background-color: rgb(3, 137, 93);
}