.main-container {
  display: flex;
  min-width: 1200px;
  max-width: 1500px;
  padding: 20px;
  justify-content: center;
  align-self: center;
}

.side-menu {
  margin-right: 30px;
  border-radius: 5px;
  background-color: #fafbfc;
  width: 250px;
  padding: 20px;
}

.side-menu-title {
  font-family: "Montserrat";
  font-weight: 700;
  color: rgb(80, 80, 80);
  font-size: 24px;
}

.content {
  display: flex;
  flex: 1;
}
