.bank-selector-container {
  display: flex;
  flex-direction: column;
}

.bank-selector-header {
  padding: 0.5rem 0 0.5rem 0;
  font-weight: 600;
}

.bank-icon {
  display: flex;
  background-color: rgb(86, 176, 255);
  width: min-content;
  font-size: 4rem;
  color: white;
  padding: 1.5rem;
  border-radius: 50%;
  margin: 1.5rem;
}

.bank-selector-container > .bank-icon {
  align-self: center;
}

.bank-icon > * {
  align-self: center;
}
