.profile-dropdown-area {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-user-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #354052;
  margin: 10px;
}