html, body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: #eff0f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}
