.account-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.selectable-item {
  box-shadow: 0 0px 1px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.selectable-item:hover {
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.05);
}

#add-account-btn {
  background-color: rgb(0, 168, 111);
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 9px;
  width: 150px;
  height: 25px;
  padding: 5px 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  font-size: 15px;
}

.account-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 50px;
  border-radius: 0.3em;
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.account-info-container {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.account-type {
  display: flex;
  flex-basis: 15%;
  color: #7f8fa4;
  font-size: 12px;
}

.account-name {
  font-family: "Montserrat";
  font-weight: 600;
  color: rgb(45, 45, 45);
  font-size: 15px;
}

.account-balance {
  display: flex;
  color: rgb(45, 45, 45);
  justify-content: right;
  align-items: right;
  flex-grow: 1;
  font-family: "Montserrat";
  font-weight: 600;
}

#account-label {
  font-family: "Montserrat";
  font-weight: 700;
  color: rgb(30, 30, 30);
  font-size: 24px;
}
