.selectable-item {
  box-shadow: 0 0px 1px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.selectable-item:hover {
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.05);
}

.account-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 50px;
  border-radius: 0.3em;
  background-color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-family: "Montserrat";
}

.account-icon {
  border-radius: 7px;
  background-color: rgb(255, 160, 0);
  margin: 5px;
  padding: 3px 5px;
  font-size: 20px;
  color: #ffffff;
}

.account-type {
  display: flex;
  flex-basis: 15%;
  color: #7f8fa4;
  font-size: 12px;
}

.account-name {
  flex-basis: 40%;
  font-weight: 600;
  color: rgb(45, 45, 45);
  font-size: 15px;
}

.account-balance {
  display: flex;
  color: rgb(45, 45, 45);
  justify-content: right;
  align-items: right;
  flex-grow: 1;
  font-weight: 600;
}

#account-label {
  font-weight: 700;
  color: rgb(30, 30, 30);
  font-size: 24px;
}
