.selectable-item {
    box-shadow: 0 0px 1px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.5s;
  }
  
  .selectable-item:hover {
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.05); 
  }

.account-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    padding: 0;
}

.account-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    min-width: 900px;
    height: 50px;
    border-radius: 0.3em;
    background-color: white;
    padding: 20px 15px;
    cursor:pointer;
    margin: 10px;
}

.account-list-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    align-items: left;
}

.account-info-container {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.account-type {
    display: flex;
    flex-basis: 15%;
    color: #7f8fa4;
    font-size: 12px;
}

.account-name {
    font-family: 'Montserrat';
    font-weight:bolder;
    color:rgb(45, 45, 45);
    font-size: 15px;
}

.account-balance {
    display: flex;
    color:rgb(45, 45, 45);
    justify-content: right;
    align-items: right;
    flex-grow: 1;
    font-family: 'Montserrat';
    font-weight: bolder;
}

#account-label {
    font-family: 'Montserrat';
    font-weight: 1000;
    color:rgb(30, 30, 30);
    font-size: 0.9em;
}